<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suraj Doc Uploader</title>
</head>
<body>
    <h1>Suraj Document Uploader</h1>
    <button>
        <a style="text-decoration: none; color: black;" href="{% url 'upload_document' %}">Upload</a>
    </button>
    <button>
        <a style="text-decoration: none; color: black;" href="{% url 'document_list' %}">Documents</a>
    </button>
   
</body>
</html>
